<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.thinkingbuffer.dev</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/node</string>
        <string>/Users/neerav/Documents/Projects/thinkingbuffer/node_modules/.bin/astro</string>
        <string>dev</string>
        <string>--port</string>
        <string>4321</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/neerav/Documents/Projects/thinkingbuffer</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>ASTRO_TELEMETRY_DISABLED</key>
        <string>1</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/neerav/Documents/Projects/thinkingbuffer/.astro/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/neerav/Documents/Projects/thinkingbuffer/.astro/launchd.log</string>
</dict>
</plist>
